.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 20px;
  display: flex;
  z-index: 1;
  /* Animations */
  transition:  all .5s ease-in;
}
.nav__black{
    background-color: #111;
}
.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav__avatar {
  width: 30px;
  position: fixed;
  right: 20px;
}
